.body{
    display: flex;
}
.izquieda{
    border: blue solid 2px;
    height: 100vh;
width: 30%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.blanco{
        border: black solid 2px;
        width: 80%;
        height: 80%;
}

.rojogrande{
    border: solid 2px red;
    ;width: 80%;
        height: 80%;
}
.derecha{
    border: blue solid 2px;
    height: 100vh;
width: 30%;
}
.blancogrande{

}