.padre{
    border: solid 2px pink;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center;
    justify-content: space-around; */
    flex-direction: column-reverse;

}

.hijo{
    border: red solid 2px;
    height: 30%;
    width: 10%;
}
.hija{
    border: solid 2px green;
    height: 100px;
    width: 100px;
}
.body{
    margin: 0;
}